body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "sans-serif";
    gap: 5vh;
    margin: 0;
}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;

}


main{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


.container{

    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 50vh;
    width: 50vw;
}

.container > button{
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 5rem;
}

.reset{
    background-color: white;
    border: none;
    font-size: 2rem;
    margin: 0 20vw 0 20vw;
    cursor: pointer;
}

.reset:hover{
    transition: 0.5s;
    background-color: black;
    color: white;

}






@media(max-width: 600px){
    main{
        width: 100vw;
    }
    .container{
        width: 100vw;
    }
}
